.header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #FF0000;
    display: flex;
    color: #707070;
    align-items: center;
    gap: 10em;
    background-color: black;
    justify-content: space-evenly;
    /* position: fixed; */
}

.logo {
    background-color: #FF0000;
    color: white;
    font-family: var(--font-marvel);
    font-size: 2.4em;
    width: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
}

.navegation {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 7em;
}

.navegation li a {
    color: #707070;
    font-family: var(--font-axiforma-Bold);
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}


.navegation li.selecionado a {
    color: #ffff;
}

.navegation .profile {
    font-family: var(--font-axiforma-Light);
    display: flex;
    justify-content: center;
    font-size: 1em;
    align-items: center;
}

.navegation .profile img {
    width: 55px;
    height: 50px;
}