.detailCard {
    width: 400px;
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #FF0000, #ff0000dc);
    position: absolute;
    z-index: 3;
}

.content {
    border-radius: 20px;
    width: 185px;
    padding: 10px 20px 10px 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 250px;
    z-index: 2;
}

.adjust_content {
    width: 366px;
}

.title,
.critics {
    width: 180px;
    font-family: var(--font-Axiforma-Bold);
    font-size: 14px;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
}

.header_title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.appearances {
    width: 100px;
    height: 90px;
    text-align: left;
    font-size: 8px;
    color: #fff;
}

.description_card {
    width: 180px;
    text-align: left;
    font-family: var(--font-Axiforma-Light);
    font-size: 8px;
    color: #fff;
}

.platforms {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 0;
    padding-left: 0;
}

.platforms img {
    width: 40px;
    height: 40px;
}

.critics_label {
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 13px;
}

.critics {
    display: flex;
    gap: 5px;
}

.label_streaming {
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 10px;
}

.filledStar {
    color: #FFD700;
}

.emptyStar {
    color: #C0C0C0;
}

.adjustLeft {
    transform: translateX(-53%);
}