.detailCard {
    width: 210px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #FF0000, #ff0000dc);
    position: relative;
    z-index: 3;
}

.selected {
    z-index: 4;
}

.content {
    border-radius: 20px;
    width: 200px;
    padding: 10px 20px 10px 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 250px;
    z-index: 2;
    transition: all 0.3s ease;
    order: 1;
}


.title,
.critics {
    width: 100%;
    font-family: var(--font-Axiforma-Bold);
    font-size: 14px;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
}

.header_title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.appearances {
    width: 100px;
    height: 90px;
    text-align: left;
    font-size: 8px;
    color: #fff;
}

.description_card {
    width: 100%;
    text-align: left;
    font-family: var(--font-Axiforma-Light);
    font-size: 8px;
    color: #fff;
}

.platforms {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-left: 0;
    padding-left: 0;
}

.platforms img {
    width: 40px;
    height: 40px;
}

.critics_label {
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 13px;
}

.critics {
    display: flex;
    gap: 5px;
}

.label_streaming {
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 10px;
}

.filledStar {
    color: #FFD700;
}

.emptyStar {
    color: #C0C0C0;
}

.closeButton {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.closeButton::before {
    content: '×';
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adjustLeft {
    transform: translateX(-190%);
}